{% load static %}

<input type="{{ widget.type }}" name="{{ widget.name }}"
       id="{{ widget.attrs.id }}" class="form-control" style="position: absolute; left: -9999px;"
       {% if widget.attrs.required %}required{% endif %}
       {% if widget.attrs.accept %}accept="{{ widget.attrs.accept }}"{% endif %}
>
<img id="{{ widget.attrs.id }}-preview"
     src="{% static 'core/img/image_placeholder.jpg' %}"
     alt="Image preview" onclick="document.getElementById('{{ widget.attrs.id }}').click();"
     class="img-thumbnail img-fluid"
     style="max-height: 200px;border: 1px solid #ccc;display: block;cursor: pointer;">

<script>
    {% comment %}
    This script listens for changes on the file input field and updates the image preview element with the selected image.
    {% endcomment %}
    const fileInput = document.getElementById('{{ widget.attrs.id }}');
    const preview = document.getElementById('{{ widget.attrs.id }}-preview');
    fileInput.addEventListener('change', function () {
        if (fileInput.files.length > 0) { // Check if any file is selected
            const file = fileInput.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

</script>