<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Add your CSS files here -->
    {% block css %}{% endblock %}
</head>
<body>
<header>
    <!-- Add your header here -->
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <!-- Add your footer here -->
</footer>

<!-- Add your JavaScript files here -->
{% block js %}{% endblock %}
</body>
</html>