{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.css' %}"/>
{% endblock css %}

{% block  body %}
    <header>
        {% include 'core/includes/navbar.html' %}
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer>
        {% include 'core/includes/footer.html' %}
    </footer>
{% endblock body %}

{% block js %}
    <script src="{% static 'core/bootstrap/js/bootstrap.js' %}"></script>
{% endblock js %}