{% extends "base.html" %}

{% block content %}
    <h1>Shops</h1>
    <form method="GET">
        <label for="search">Search:</label>
        <input type="text" name="search" placeholder="Search by title" value="{{ request.GET.search }}" id="search">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for shop in shops %}
            <li>
                <h2>{{ shop.title }}</h2>
                <p>{{ shop.description }}</p>
                <img src="{{ shop.imageUrl }}" alt="{{ shop.title }}">

            </li>
        {% endfor %}
    </ul>
{% endblock content %}