<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website{% endblock title %}</title>
    {% comment %}
        Add your CSS files here
    {% endcomment %}
    {% block css %}{% endblock css %}
</head>
<body>
{% comment %}
    Add your HTML content here
{% endcomment %}
{% block body %}{% endblock body %}

{% comment %}
    Add your JavaScript files here
{% endcomment %}
{% block js %}{% endblock js %}
</body>
</html>