{% extends "core/extend_base.html" %}

{% block content %}

    {% comment %}
    Here we have a page title and a button to add a new shop.
    {% endcomment %}
    <div class="row mb-4 align-items-center">
        <div class="col-md-8">
            <h1 class="mb-0">Shops</h1>
        </div>
        <div class="col-md-4 text-end">
            <a href="{% url 'core:shops:create' %}" class="btn btn-primary align-items-center">
                <i class="bi bi-plus me-2"></i>Add Shop
            </a>
        </div>
    </div>

    {% comment %}
    Here we have a search form to search shops by title or description.
    {% endcomment %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <form method="GET" class="d-flex">
                {% csrf_token %}
                <div class="input-group me-2">
                    <label class="input-group-text bg-light" for="search">
                        <i class="bi bi-search"></i>
                    </label>
                    <input type="text" id="search" name="search" placeholder="Search by title or description..."
                           value="{{ request.GET.search }}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    {% comment %}
    Here we have a list of shops. If there are no shops found, we display a message.
    {% endcomment %}
    <div class="row">
        {% for shop in shop_list %}
            {% include 'core/shop/includes/shop_card.html' %}
        {% empty %}
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    No shops found.
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock content %}