{% extends 'core/extend_base.html' %}

{% block content %}
    <div class="my-5 row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <!-- Заголовок карточки -->
                <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Create Shop</h4>
                    <a href="{% url 'core:shops:list' %}" class="btn btn-light btn-sm">
                        <i class="bi bi-arrow-left"></i> Back to shops
                    </a>
                </div>
                <!-- Форма создания магазина -->
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="create-shop-form">
                        {% csrf_token %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                                    {{ form.title }}
                                </div>
                            </div>
                        </div>
                        <!-- Карточка для ввода описания магазина -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="{{ form.description.id_for_label }}"
                                           class="form-label">Description</label>
                                    {{ form.description }}
                                </div>
                            </div>
                        </div>
                        <!-- Карточка для загрузки изображения -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="{{ form.image.id_for_label }}" class="form-label">Image</label>
                                    {{ form.image }}
                                    <small class="form-text text-muted">Click on the image to select a file.</small>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- Кнопка создания магазина -->
                <div class="card-footer d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" form="create-shop-form">
                        <i class="bi bi-check2"></i> Create Shop
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}