{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}"/>
{% endblock css %}

{% block  body %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>


    <footer>
        {% include 'core/includes/footer.html' %}
    </footer>


{% endblock body %}

{% block js %}
    <script src="{% static 'core/js/bootstrap/bootstrap.js' %}"></script>
{% endblock js %}