{% extends "users/extend_base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h3 class="text-center">Register</h3>
                    </div>
                    <div class="card-body">
                        <form id="register-form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}">Username</label>
                                <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                                       name="{{ form.username.html_name }}" required autocomplete="username">
                                <div class="invalid-feedback" id="{{ form.username.id_for_label }}-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label }}">Password</label>
                                <input type="password" class="form-control" id="{{ form.password1.id_for_label }}"
                                       name="{{ form.password1.html_name }}" required autocomplete="new-password">
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                                <input type="password" class="form-control password-input"
                                       id="{{ form.password2.id_for_label }}"
                                       name="{{ form.password2.html_name }}" required autocomplete="new-password">
                                <div class="invalid-feedback" id="{{ form.password2.id_for_label }}-feedback"></div>
                            </div>
                            <button type="submit" class="btn btn-success w-100">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}